<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href='/static/styles/style.css' />
    <title>Snitch - A Platform to discuss anonymously</title>
  </head>
  <body>
    {% load custom_tags %}
{% include 'projectApp/navbar.html' %}


    {% block content %}


     {% endblock %}
     <script src="/static/styles/script.js"></script>
    </body>
  </html>